*{
  margin: 0px;
}

#audio-1{
  display: none;
}
body{
  background: black;
}
.nav{
  height: 100px;
  width: 100%;
  background: black;
  
  
}

.nav-2{
  color: white;
  font-size: 80px;
  position: relative;
  top: 25%;
  text-align: center;
  animation: nil 2s linear 0s infinite normal;
  text-shadow: 0 0 5px black, 0 0 10px black,0 0 10px #00ffff, 0 0 40px #00ffff, 0 0 60px #0ff;
  
}




.warn{
  height: 30vh;/*change*/
  display: flex;
  justify-content: center;
  align-items: center;
  border: 20px solid black;
  
}

h3{
  color: white;
  font-size: 50px;
  text-align: center;
  animation: dot 3s linear 0s  forwards;
  position: relative;
  bottom: 10%;
}


@keyframes dot {
  from {opacity: 0.1;transform: translateY(0%);}
  to {opacity: 1;transform: translateY(-7%);}
}

.btn-1{
  cursor: pointer;
  background: white;
  color: black;
  height: 150px;
  width: 150px;
  font-size: 40px;
  border: 5px solid white;
  border-radius: 50%;
  box-shadow: 0 0 60px 5px #0ff;
  /*text-decoration: underline;*/
 /* position: absolute;
  top: 56.9%;
  left: 41.3%;*/
}

.btn-1:focus{
  border: 5px solid white;
  background: black;
  color: white;
  box-shadow: 0 0 10px black,0 0 40px red,0 0 40px red,0 0 40px red;

}

.span-1{
  text-shadow: 0 0 10px red, 0 0 0px red, 0 0 20px red, 0 0 40px red, 0 0 60px red;
  animation: spa 0.4s linear 0s infinite normal;
}

@keyframes spa{
  from{
    opacity: 0.5;
  }
  to{
    opacity: 1;
  }
}

.done{
  height: 30px;
  width: 30px;
  border: 15px solid white;
  border-radius: 50%;
  position: relative;
  left: 20%;
  animation: don 1s linear 0s infinite normal;
  
}

.done:hover {
  border: 15px solid black;
}

@keyframes don{
  from{
    height: 30px; width: 30px;
  }
  to{
    height: 60px; width: 60px;
  }
}

/*Circle*/
.circle{
  
  
}
.circle-1{
  height: 554px;
  width: 554px;
  position: absolute;
  top: 45%;
  left: 20%;
  border: 5px solid #0ff;
  border-radius: 50%;
/*  border-left-color: transparent;
  border-right-color: transparent;*/
  animation: rot1 2s linear 0s infinite normal ;
  
}

@keyframes rot1{
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
  
}

  

.circle-2{
  content: "";
  height: 494px;
  width: 494px;
  border: 5px solid #0ff;
  border-radius: 50%;
  position: absolute;
  top: 46.7%;
  left: 23%;
  border-top-color: transparent;
  border-bottom-color: transparent;
  animation: rot2 2s linear 0s infinite normal;
  
}
@keyframes rot2{
  from{transform: rotate(360deg);}
  to{transform: rotate(0deg);}
  
}

.circle-2{
  
}

.circle-3{
  height: 444px;
  width: 444px;
  border: 5px solid #0ff;
  border-radius: 50%;
  position: absolute;
  top: 48%;
  left: 25.7%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rot3 2s linear 0s infinite normal;
  
}

@keyframes rot3{
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}

.circle-4{
  height: 386px;
  width: 386px;
  border: 5px solid #0ff;
  border-radius: 50%;
  position: absolute;
  top: 49.7%;
  left: 28.7%;
  border-top-color: transparent;
  border-bottom-color: transparent;
  animation: rot4 2s linear 0s infinite normal;
  
}
@keyframes rot4{
  from{transform: rotate(360deg);}
  to{transform: rotate(0deg);}
  
}
.circle-5{
  height: 326px;
  width: 326px;
  border: 5px solid #0ff;
  border-radius: 50%;
  position: absolute;
  top: 51.5%;
  left: 31.7%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rot4 2s linear 0s infinite normal;
  
}
@keyframes rot5{
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}
.circle-6{
  height: 266px;
  width: 266px;
  border: 5px solid #0ff;
  border-radius: 50%;
  position: absolute;
  top: 53.3%;
  left: 35%;
  border-top-color: transparent;
  border-bottom-color: transparent;
  animation: rot6 2s linear 0s infinite normal;
  
}
@keyframes rot6{
  from{transform: rotate(360deg);}
  to{transform: rotate(0deg);}
  
}
.circle-7{
  height: 206px;
  width: 206px;
  border: 5px solid #0ff;
  border-radius: 50%;
  position: absolute;
  top: 55%;
  left: 38%;
  /*border-left-color: transparent;
  border-right-color: transparent;*/
  animation: rot7 2s linear 0s infinite normal;
  
}
@keyframes rot7{
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}
.circle-8{
  background: none;
  height: 146px;
  width: 146px;
  border: 5px solid #0ff;
  border-radius: 50%;
  position: absolute;
  top: 56.7%;
  left: 41%;
  animation: rot 2s linear 0s infinite normal;
  
}
@keyframes rot8{
  from{transform: rotate(360deg);}
  to{transform: rotate(0deg);}
  
  }
