body {
      background-color: #ffe6ff; /* light pink */
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: #333;
    }
    
    h1{
      position: absolute;
      top: 5%;
      left: 5%;
    }
    
    .container{
      margin-top: 40%;
      display: flex;   
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    .box {
      width: 90%;
      height: 50px;
      background-color: #ffe6f0; /* same as body */
      border: 2px solid black;
      margin-top: 10%;
      background-image: url("https://media-hosting.imagekit.io/88b914f829be488a/IMG_20250404_132516.jpg?Expires=1838361362&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=vjGz3es0JIE0JEajuLDkmHntGSfVK-fQhkO8bHQedgkbbG9KgoH49yPyhfC30PSZIXLrMeXPooUVWxtB-DjSKb75A3Apy-j8a0WLu9xISablkXnBfneL-QoCzrY0g6OJGdn~txA~czSjvgSgBfPKZ75-256qv~mY7xQrbNDrKQVxCFZ3lyybuw-IL-bU2~po0Z~QPaku1G8U6BwytzN4Z2napCGgreldBwKzwQjBEVeVdFUgvgzHHnYy~L2Z5eI5XMRden7y7lcYKI~G2NkTncdd8gsU5qD1nqZ0jAbGYWrHhikEEh2-4FG-xmK5v1YB43uid~qTe7xQOuZjirEOUQ__");
      background-size: cover;
      background-position: center;
      
    }
    
    .anchor-1{
      color: black;
      position: fixed;
      top: 29%;
      right: 15%;
    }
    
    .anchor-2{
      color: black;
      position: fixed;
      top: 42%;
      right: 15%;
    }
    
    .anchor-3{
      color: black;
      position: fixed;
      top: 56%;
      right: 15%;
    }
    
    .anchor-4{
      color: black;
      position: fixed;
      top: 70%;
      right: 15%;
    }
    .anchor-5{
      color: black;
      position: fixed;
      top: 83%;
      right: 15%;
    }
    
  
    h6{
      position: relative;
      left: 20px;
      bottom: 20px;
      font-size: 15px;
    }
    
   .anchor-1:hover,
   .anchor-2:hover,
   .anchor-3:hover,
   .anchor-4:hover,
   .anchor-5:hover {
  border: 2px solid white;
  font-size: 20px;
}
